.header {
  background-color: #1a191f;
  height: 80px;
  gap: 10px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header-wrapper {
  border-bottom: 0.5px solid #252525;
}
.header-links {
  align-items: start;
}
.header-links .dropDown {
  cursor: pointer;
  margin-left: 5px;
}
.header-links .header-link {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.5s;
}
.header-links .header-link:hover {
  color: #f9ab00;
}
.input-search {
  transition: all 5s;
  color: #fff;
  position: relative;
}
.search {
  padding: 10px 40px 10px 10px;
  background: #222028;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: border-color 0.4s ease;
  color: #fff;
  font-size: 16px;
}
.search::placeholder {
  color: #b9b9b9;
}
.search-icon {
  position: relative;
}
.search-icon svg {
  width: 25px;
  height: 25px;
}
a .icon {
  position: absolute;
  right: 10px;
  bottom: -5px;
  z-index: 5;
  transition: 0.5s;
}
a .icon:hover {
  color: #f9ab00;
}
.result-search {
  width: 250px;
  height: 300px;
  background-color: #282827;
  position: absolute;
  top: 50px;
  border-radius: 10px;
  border: 2px solid #f9ab00;
  overflow-y: scroll;
}

.result-search::-webkit-scrollbar {
  width: 12px;
}

.result-search::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.result-search::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.result-search::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.search-list .search-item {
  border-bottom: 1px solid #fff;
  padding: 10px 15px;
}
.search-list .search-item:hover {
  background-color: #363534;
  cursor: pointer;
}
input:focus {
  outline: none;
  border: 2px solid #f9ab00;
}
.nickname {
  color: #fff;
  padding: 10px 24px;
  border: 2px solid #f9ab00;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
}
.nickname:hover {
  background-color: #1f1606;
}

.ant-dropdown .ant-dropdown-menu {
  background-color: #222028;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  color: #f1f1f1;
  padding: 5px 10px;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  color: #f9ab00;
}
.mobile-mode {
  position: relative;
}
.mobile-mode .mobile-menu {
  padding: 30px;
  background-color: #1a191f;
  width: 85%;
  overflow: hidden;
  display: none;
  height: 100vh;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  top: 80px;
  border-top: 2px solid #f9ab00;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.mobile-mode .mobile-menu.menu-open {
  opacity: 1;
  display: block;
}
.mobile-mode .mobile-menu .mobile-list .mobile-list-item {
  padding: 15px 0;
  color: #fff;
  gap: 3px;
}
.phone-use {
  gap: 10px;
}
.phone-use .user {
  width: 40px;
  height: 40px;
  border: 2px solid #f9ab00;
  border-radius: 10px;
}
