.section-text {
  margin-top: 15px;
}
.section-text .bold {
  color: #fff;
}
.feture {
  margin-bottom: 0px;
}
.feture-card {
  margin-top: 30px;
  display: flex;
}
.feture-card .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.how-title {
  margin-bottom: 30px;
}

.part-number {
  font-size: 46px;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
  color: #f9ab00;
  width: 100%;
}
.how-works {
  padding-top: 80px;
}
/* @media (max-width: 768px) {
  .feature-row {
    grid-template-columns: 1fr 1fr; 
  }
}

@media (max-width: 480px) {
  .feature-row {
    grid-template-columns: 1fr;
  }
} */
