.holder-how {
  background-color: #222028;
  padding: 30px;
  border-radius: 10px;
}
.how-number {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
  color: #f9ab00;
  width: 100%;
}
.how-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}
.how-text {
  color: #c0c0c0;
  font-size: 16px;
  line-height: 26px;
}
