.movie {
  width: 50%;
  padding: 0 10px;
  margin: 10px 0;
}
.home {
  margin-top: 10%;
}
.home-title {
  font-size: 42px;
  color: #ebebeb;
  line-height: 42px;
  margin-bottom: 30px;
}
.home-title .bold-title {
  font-size: 42px;
  color: #fff;
}
.test-card {
  margin: 0 -10px;
}
@media screen and (min-width: 867px) {
  .movie {
    width: 20%;
  }
}
